## 1. 변수(Variable)
   + 임시 기억(저장) 공간
   + 별도의 절차없이(선언없이) 사용가능
   + DataType을 가리지 않는다.
   + 값을 수정할 수 없다. - 이전에 가리켰던 변수값는 쓰레기가 됨. 다시 그 값을 지정한다면 다시 주소가 그 값으로 이동, id 확인
   + 객체를 가리키는 것. (=자료형)

In [1]:
a = 10

In [2]:
a

10

In [3]:
a = 20
a

20

In [4]:
var1 = 30
a = 3.14

In [5]:
var1
a

3.14

In [6]:
var1

30

In [7]:
var1
a

3.14

In [8]:
a
var1

30

In [9]:
a = "파이썬"

In [10]:
a

'파이썬'

In [11]:
a = '파이썬'

In [12]:
a

'파이썬'

In [13]:
a = 10
print(a)

10

In [14]:
print(type(a))

<class 'int'>

In [15]:
print(a)
print(var1)

10
30

In [16]:
print(type(var1))

<class 'int'>

In [17]:
a=3.14

In [18]:
a

3.14

In [19]:
print(type(a))

<class 'float'>

In [20]:
type(a)

float

In [21]:
#type을 가리지 않는다
print(a)

3.14

In [29]:
#값을 수정할 수 없다
a = 10
print(a)
print(id(a))

a = 11
print(a)
print(id(a))
# a의 값이 바뀐 것이 아닌, 지정하는 '주소'가 바뀐 것. 10은 쓰레기가 됨.

a = 10
print(a)
print(id(a))
# 다시 데이터값 10을 찾아가는 것

10
140710542942896
11
140710542942928
10
140710542942896

In [26]:
a = "홍길동"
print(type(a))

<class 'str'>

## 자료형(Data Type)
 - 종류
   + 기본 자료형 : 데이터를 하나씩만 저장할 수 있는 형태 
    - Number : int, float
    - 문자형 : str
    - 논리형 : bool
    - 그 외 : complex, function
    - 단일 데이터를 저장
    
    
   + 집합(iter) 자료형 :  여러개의 (자료형이 달라도) 데이터를 갯수에 상관없이 묶어 표현할 수 있다.
      - list
      - tuple
      - dict
      - set

In [6]:
print(14//3) 
print(14 % 3)

4
2

In [22]:
print("몫 " + str(14//3))
print("나머지 " + str(14%3))
print("몫 " + str(14//3) + ", 나머지 " + str(14%3))

몫 4
나머지 2
몫 4, 나머지 2

In [7]:
#문자열

a = "ab"

a

'ab'

In [8]:
# 서로 다른 형식은 + 불가
a = "a" + 10

TypeError: can only concatenate str (not "int") to str

In [10]:
# 문자끼리 + 는 문자 연결 기능
a = "a" + "b"
a

'ab'

In [11]:
a = "a" + "10"
a

'a10'

In [12]:
# 10이 문자일 지 숫자일 지 모를 때
a = "a" + str(10)
a

'a10'

In [15]:
print("-" * 60)

------------------------------------------------------------

In [23]:
# 문자열 잇기
a = "asfdjkhfd"
a = a + "djfhjs"
print(a)

asfdjkhfddjfhjs

In [47]:
# 여러줄로 작성하고 싶을 때
 # 따옴표 3개 안에 쓰기
    
b = """dlkjsjf
lkdfjkld
dlkjfkldsj"""

print(b)

print("-----------------------------------------------------")

# 특수문자 (제어 문자) : 그대로 화면에 보여지지 않고 '어떻게' 보여질 것인지를 제어해주는 문자 _ \문자 형태


a = "안녕하세요 반갑슴다"
print(a)

# 줄바꿈 문자 \n
a = "안녕하세요\n반갑슴다"
print(a)

# tab 문자 \t

b = "안녕하세요\t반갑습니다"
print(b)

# 이스케이프 문자 : \

c = "\t는 탭키의 기능입니다."
print(c)

c = "\\t는 탭키의 기능입니다."
print(c)

d = "\"\\n은 엔터키의 기능입니다.\""
print(d)

e = '"\\n 은 ~"'
print(e)

dlkjsjf
lkdfjkld
dlkjfkldsj
-----------------------------------------------------
안녕하세요 반갑슴다
안녕하세요
반갑슴다
안녕하세요	반갑습니다
	는 탭키의 기능입니다.
\t는 탭키의 기능입니다.
"\n은 엔터키의 기능입니다."
"\n 은 ~"

In [115]:
#인덱싱 : 내가 원하는 문자를 찾아가는 것

a = "Life is too short, You need Python"
print(a[10])
print(a[0])
print(a[-0])
print(a[-1])
print(a[8], a[9], a[10])
print(a[8] + a[9] + a[10])

print("-----------------------------------------------------------------------------")

#슬라이싱 a[b:c] = b 포함 c 미포함
print(a[8:11])
print(a[:8])
print(a[8:])
print(a[-3:-1])

o
L
L
n
t o o
too
-----------------------------------------------------------------------------
too
Life is
too short, You need Python
ho

In [73]:
str1 = "pithon"
print(str1[1])
str[1] = "y"

# 오류가 난다 , 요솟값 수정 안된다. 따라서 틀린글자 앞뒤로 슬라이싱 + 수정 값 을 이용한다.

i

TypeError: 'type' object does not support item assignment

In [109]:
str1 = "pithon"
print(str1[0] +"y" + str1[2:])

#replace
print(str1.replace("i", "y"))

python
python

In [114]:
#len() :  여러가지 형 사용 가능.
#count(), find(), join(), split(), ... : 문자열만! = 문자열 내장 함수. 변수명.함수() 사용

a = "Life is too short, You need Python"

# len = 전체 갯수 세어주는 기능
print(len(a))
print(len(a)-1)
print(a[len(a)-1])

print("-----------------------------------------------------------------------------")

# 변수.count('문자') = '특정문자(공백도 가능)의' 갯수를 세어주는 기능
print(a.count('o'))
print(a.count(' '))
print(a.count('a'))

print("-----------------------------------------------------------------------------")

# find, index = 내가 찾고자 하는 문자가 언제 처음으로 나오는지 위치를 알려줌. 
# 차이점 = 없는 문자를 찾을 때,  find는 -1 반환, index 오류 반환

print(a.find('s'))
print(a.find('a'))
print(a.index('s'))
print(a.index('a'))

34
33
n
-----------------------------------------------------------------------------
5
6
0
-----------------------------------------------------------------------------
6
-1
6

ValueError: substring not found

In [98]:
a = "Life is too short, You need Python"
print(a.find('Python'))

28

In [141]:
#구분자.join(문자열) : 삽입기능     문자열.sprit(기준_공백,기호 ':'...) : 분할 기능

str1 = "abcde fg"

print(str1[0] +',' + str1[1], str1[2])
print(",".join(str1))
print(str1.split())

str2 = "abcde:fg"
print(str2.split(':'))


str3 = "홍길동 임꺽정 신돌석 유비 관우"
print(str3.split()) # 하나의 문자열을 여러개의 문자열로 나눔

print("-----------------------------------------------------------------------------")

# 공백제거 strip : 양쪽 지정문자 0지우기 (전체아님) , lstrip, rstrip -> 중간은 제거 할 수 없다!
str4 = "  py  thon "
print("a" + str4.strip() + "a")
print("a" + str4.lstrip() + "a")
print("a" + str4.rstrip() + "a")

str5 = "pyt"
print(str5.lstrip("p"))
print(str5.rstrip("t"))
print(str5.strip("a"))
print(str5.lstrip("a"))

print("-----------------------------------------------------------------------------")

#바꾸기
#replace : 특정 단어를 찾아 바꿔줌

str1 = """Hello, World!
World is fantasy"""
print(str1)

str2 = str1.replace("World", "Python")
print(str2)

#문자열.translte(문자열.maketrans(" ","" )) : 모든 글자 하나하나를 매칭해 번역하겠다

str3 = "일이삼사오육칠팔구"
print(str3.translate(str3.maketrans("일이삼오" , "1235" )))
print(str3. replace("일삼" , "13" ))
print(str3. replace("일이삼" , "13" ))

a,b c
a,b,c,d,e, ,f,g
['abcde', 'fg']
['abcde', 'fg']
['홍길동', '임꺽정', '신돌석', '유비', '관우']
-----------------------------------------------------------------------------
apy  thona
apy  thon a
a  py  thona
yt
py
pyt
pyt
-----------------------------------------------------------------------------
Hello, World!
World is fantasy
Hello, Python!
Python is fantasy
123사5육칠팔구
일이삼사오육칠팔구
13사오육칠팔구

In [151]:
# 포맷팅, %

print("덧셈 결과 : 3 + 4 = 7") # 3,4 가 바뀐다면 결과 값도 바뀐다. 매번 수작업으로 print할 수는 없음 -> 자동화 필요

#num1 = 3
#num2 = 4 를 한 줄로 변수 선정 가능
num1, num2 = 3, 4

print("덧셈 결과 : {0} + {1} = {2}".format(num1,num2,num1+num2)) # 순서가 동일할 때는 굳이 0,1,2 인덱스 안써도 된다.
print("덧셈 결과 : {1} + {1} = {2}".format(num1,num2,num1+num2))

# 이름으로 포맷팅 하기
print( "I ate {number} apples. so I was sick for {day} days".format(number=10, day=3)) 

# 인덱스와 이름 혼용 가능
print( "I ate {} apples. so I was sick for {day} days".format(10, day=3))

print("-----------------------------------------------------------------------------")

# %d : 숫자 포맷팅

print("덧셈 결과 : %d + %d = %d" %(num1,num2,num1+num2))

덧셈 결과 : 3 + 4 = 7
덧셈 결과 : 3 + 4 = 7
덧셈 결과 : 4 + 4 = 7
I ate 10 apples. so I was sick for 3 days
I ate 10 apples. so I was sick for 3 days
-----------------------------------------------------------------------------
덧셈 결과 : 3 + 4 = 7

---------------------------------------------------------------------------------------------------------------------

## Tip : jupyter  테마 변경하기
 - 파이썬에 없는 기능을 설치할 때 이용하는 명령어 pip  이용
  + pip install jupyterthemes  (dos창에 입력)
 - upgrade to latest version
  + pip install --upgrade jupyterthemes
 - 다른 테마 지정 -t, 이전 테마 -r
 - jt  [-h] [-l] [-t THEME] [-f MONOFONT] [-fs MONOSIZE] [-nf NBFONT]
    [-nfs NBFONTSIZE] [-tf TCFONT] [-tfs TCFONTSIZE] [-dfs DFFONTSIZE]
    [-m MARGINS] [-cursw CURSORWIDTH] [-cursc CURSORCOLOR] [-vim]
    [-cellw CELLWIDTH] [-lineh LINEHEIGHT] [-altp] [-altmd] [-altout]
    [-P] [-T] [-N] [-r] [-dfonts]
    
 -----------------------------------------------------------------------------------------

### list
 - 임의의 객체를순차적으로 저장하는 집합적 자료형
 - 값에 대하여 인덱스가 부여됨
 - 데이터 수정이 가능하다.
 - []를 사용
 - 어떠한 자료형도 포함 가능하다.

In [9]:
# 값에 대하여 인덱스가 부여됨, [] 사용
n1, n2, n3 = 1, 2, 3
n = [1, 2, 3, 4, 5]

print(type(n1))
print(type(n))
print(n[0], n[1], n[2])

<class 'int'>
<class 'list'>
1 2 3

In [10]:
# 어떠한 자료형도 포함 가능하다.
a = [10, 20, 3.14, True, False, "홍길동"]
print(a)

[10, 20, 3.14, True, False, '홍길동']

In [11]:
# 데이터 수정이 가능하다.
a[1] =200
print(a)

[10, 200, 3.14, True, False, '홍길동']

In [24]:
# indexing : 특정 위치의 데이터에 접근하기 위한 방법
a = [10, 20, 3.14, True, False, "홍길동"]
print(a)
 # 데이터는 연속적으로 저장되어있기 때문에 첫 주소(a)만 알면 0번째, 1번째...로 찾아갈 수 있다.
print(a[0],a[1])  

b = [10, 20, 30, ['a', 'b', 'c']]
print(b[0],b[3])
print(b[3][1])

#slicing
print(a[1:5])
print(a[1:5][1])

#b 데이터 중 'b', 'c' 꺼내서 출력
print(b[3][1:])

[10, 20, 3.14, True, False, '홍길동']
10 20
10 ['a', 'b', 'c']
b
[20, 3.14, True, False]
3.14
['b', 'c']

In [31]:
# 리스트 연산
#  사칙연산이 아님. 따라서 길이가 다르거나 자료형이 달라도 상관없다.

a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

print(a + [3])
print(b * 2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 3]
[4, 5, 6, 4, 5, 6]

In [42]:
# 복사(얕은 복사, 깊은 복사)
a = [1, 2, 3, 4, 5]
b = a 
# b는 데이터를 받은 것이 아니라 a의 주소를 공유한 것

b[1]=200

print(a)
print("-----------------------------------------------------------------------------")

# 깊은 복사
c = a[:] # 주소를 복사 한 것이 아니라 데이터를 복사한 것

print(c)

c[3]=500
print(a) #a 주소에 있는 1,200,3,4,5 는 그대로
print(c) #c만 바뀜

a[2]=40
print(a)
print(c)

[1, 200, 3, 4, 5]
-----------------------------------------------------------------------------
[1, 200, 3, 4, 5]
[1, 200, 3, 4, 5]
[1, 200, 3, 500, 5]
[1, 200, 40, 4, 5]
[1, 200, 3, 500, 5]

In [51]:
# 리스트 만들기
a = [1, 2, 3, 4]
print(type(a))

# 형태만 만들고 나중에 추가 할 수 있다

b = []
print(type(b))

c = list()
print(type(c))

a = list(range(10)) #range(갯수) : 순차적으로 데이터 자동 생성 , []에서는 안됨.
print(a)

b = list(range(5,11,2))
print(b)

<class 'list'>
<class 'list'>
<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 7, 9]

In [48]:
print(range(20))

range(0, 20)

In [70]:
# 삽입, 추가 : insert(), append(), extend()

# append() :덧붙이다. 무조건 맨 뒤에 추가 됨.
a = []
a.append(10)
a.append(20)
a.append(3)

print(a)

# insert(주소, 추가 할 값) : 원하는 위치의 주소에 데이터 추가
a.insert(0,5)
print(a)

a.insert(2, 15)
print(a)

# 여러개 추가 -  리스트로 추가. 중첩된 리스트가 됨.
a.append([31, 'E', 33])
print(a)

a.insert(2,[16,17])
print(a)

#extend : + 연산자와 동일

a.extend([34, 35, 36])
print(a)

print(a+[37, 38])

a.insert(2,3)
print(a)

# 제거 : remove
a.remove(3)
print(a) #맨 처음 3이 나오는 것만 지움. 다 지우고 싶으면 여러면 수행하기
a.remove(3)
print(a)

[10, 20, 3]
[5, 10, 20, 3]
[5, 10, 15, 20, 3]
[5, 10, 15, 20, 3, [31, 'E', 33]]
[5, 10, [16, 17], 15, 20, 3, [31, 'E', 33]]
[5, 10, [16, 17], 15, 20, 3, [31, 'E', 33], 34, 35, 36]
[5, 10, [16, 17], 15, 20, 3, [31, 'E', 33], 34, 35, 36, 37, 38]
[5, 10, 3, [16, 17], 15, 20, 3, [31, 'E', 33], 34, 35, 36]
[5, 10, [16, 17], 15, 20, 3, [31, 'E', 33], 34, 35, 36]
[5, 10, [16, 17], 15, 20, [31, 'E', 33], 34, 35, 36]

In [73]:
# 복합연산자

a = [1, 2]

a = a + [3, 4, 5]
print(a)

a += [6,7] # +=  띄어쓰면 안된다!
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

In [86]:
# 정렬 = sort ()로 오름차순만 가능. 내림차순은  sort한 뒤 reverse 로 뒤집어야 함
a = [1, 2, 4, 3]
a.sort()
print(a)

b = [2, 5, 4]
b.reverse()
print(b) # 역순 안됨

b.sort()
b.reverse()
print(b)


print("-----------------------------------------------------------------------------")
# 삭제

# 인덱스 이용
a = [1, 2, 3, 4, 5, 6]
a[1:3] = []
print(a)


# remove 이용
a = [1, 2, 3, 1, 2, 3]

a.remove(3)
print(a) #맨 처음 3이 나오는 것만 지움. 다 지우고 싶으면 여러면 수행하기

a.remove(3)
print(a)

a = [1, 2, 3, 1, 2, 3]

# del 이용 : 완전히 메모리를 지워버림

del a[3]
print(a)

# 전체 데이터를 삭제 해보자. remove는 하나하나 - 힘들다
a = [1, 2, 3, 1, 2, 3]
a[:] = []
print(a)

a = [1, 2, 3, 1, 2, 3]
del a 
print(a) # a라는 메모리 자체를 지웠기 때문에 더이상  a가 없으므로 에러남.

[1, 2, 3, 4]
[4, 5, 2]
[5, 4, 2]
-----------------------------------------------------------------------------
[1, 4, 5, 6]
[1, 2, 1, 2, 3]
[1, 2, 1, 2]
[1, 2, 3, 2, 3]
[]

NameError: name 'a' is not defined

In [91]:
# pop() : stack 메모리에서 이용되는 개념, 삭제된 데이터를 끄집어 내어 쓸 수 있게 함 lifo 구조

a =[1, 2, 3]
a.pop(1)
print(a)

a =[1, 2, 3]
a.pop()

[1, 3]

3

In [94]:
# 검색기능 : 내가 찾고자하는 데이터가 있는지 없는지 in
a = [1, 2, 3, 4, 5]
print(2 in a)
print(6 in a)

True
False

### tuple
 + list와 거의 동일
 + () 사용
 + 수정이 불가 (연산은 가능)
 따라서 수정을 해야하는 데이터는 list로, 수정하면 안되는 데이터는 tuple로!

In [98]:
a = ('a', 'b', 'c', 'd')
print(a)
print(type(a))

a[0] = 'A'
print(a)  #수정불가

('a', 'b', 'c', 'd')
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [103]:
# 형 변환
a = ('a', 'b', 'c', 'd')
print(type(a))

b = list(a)
print(type(b))

c = tuple(b)
print(type(c))

# string(숫자형) : 숫자를 문자열로 바꾸어 주는 함수 등등 자료형은 자신의 이름을 가진 함수가 있다.

<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [111]:
print(bool("hello"), bool(10), bool([]),bool([1,2]), bool(""), bool(()), bool(None))

True True False True False False False

In [126]:
#packing, unpacking
a, b, c = 10, 20, 30

a = 10, 20, 30
a # 튜플로 패킹이 됨

type(a)

b = list(a)
type(b)

b[2] =40
print(b)

#unpacking
a1, a2, a3 = a
print(a1, a2, a3)

[10, 20, 40]
10 20 30

### dict
 - 거의 데이터 검색의 용도 (좀 더 빠르고, 전문적으로 검색하기 위해 쓸 뿐, 다른 용도로는 거의 안 씀)
 - 인덱스가 없다.= 순서가 없다. 대신 key로 대응(=해시)함.
 - { 키:데이터, 키:데이터, ...} 사용

In [128]:
a = {"이름" : "홍길동", "phone" : "111-1111", "age" : 25}
print(type(a))

print(a[0]) #인덱스를 쓰면 에러가 남!

<class 'dict'>

KeyError: 0

In [143]:
a = {"name" : "홍길동", "phone" : "111-1111", "age" : 25}
print(a["name"])

a = {"name" : "홍길동", "phone" : "111-1111", "age" : 25, 1 : "a"}
print(a[1])

print(a.get("name"))

#차이점
print(a.get("add"))
print(a[add])

홍길동
a
홍길동
None

NameError: name 'add' is not defined

In [149]:
print(a.keys())
print(a.values())
print(a.items()) #각각을 튜플로 묶어 리스트로 반환해줌

dict_keys(['name', 'phone', 'age', 1])
dict_values(['홍길동', '111-1111', 25, 'a'])
dict_items([('name', '홍길동'), ('phone', '111-1111'), ('age', 25), (1, 'a')])

In [170]:
print(type(a.items())) #새로운 자료형. 따라서 값 수정 하고 싶으면 list로 바꾸면 됨
print(type(list(a.items())))

print("-----------------------------------------------------------------------------")

#수정 가능
a["name"] = "임꺽정"
print(a)

a["add"] = "서울시 강남구"
print(a)

a= dict(name="홍길동", age=25, add="서울시 강남구")
print(a)

<class 'dict_items'>
<class 'list'>
-----------------------------------------------------------------------------
{'name': '임꺽정', 'add': '서울시 강남구'}
{'name': '임꺽정', 'add': '서울시 강남구'}
{'name': '홍길동', 'age': 25, 'add': '서울시 강남구'}

### set

 - {값, ... } 사용
 - 순서가 없다. (인덱스가 없다 - 찾아갈 수가 없다 따라서 리스트나 튜플로 바꾸어 써야한다
 - 중복을 허용하지 않는다 (핵심 기능) -> 자연어 처리에서 요긴하게 사용될 것

In [171]:
a = set("Hello")
print(a)
#순서 없음, 중복없음

{'H', 'l', 'o', 'e'}

In [173]:
a = {1, 2, 3, 4, 3, 2, 4}
print(a)

print(a[0]) # 인덱스 없으므로 에러

{1, 2, 3, 4}

TypeError: 'set' object is not subscriptable

In [175]:
b = list(a)

print(b[0])

1

In [177]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

#합집합 union 교집합 intersection 차집합 difference -> 함수가 길 때는 몇글자 치고 tab키 누르면 목록 나옴.
print (s1.union(s2))
print (s1.intersection(s2))
print (s1.difference(s2))

print(s1|s2)
print(s1&s2)
print(s1-s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

In [178]:
# 데이터 여러개 추가 : update
s1.update({7,8})
print(s1)

# 데이터 한개 추가 : add
s2.add(10)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8, 9, 10}

In [179]:
#삭제
s1.remove(8)
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#정리해보기
#수정 가능 : list, dict, set / 수정 불가능 : 그 외 나머지 모두 수정 불가능
#순서(인덱스)가 있는 자료형 : string, list , tuple / 없는 자료형 : 그 외 모두

## 연산자(Operater)

   1) 산술 연산자
     *  /(몫)  +  -  %(나머지)  //(나누기, 몫 정수)  **
  
   2) 비교 연산자
     >, <, >=, <=, ==, !=
     
   3) 논리 연산자 (단락 회로)
       이항 연산자              :  and(모두가 T일 때 T = 회로의 직렬연결 생각) , or(하나라도 T일 때 T = 회로의 병렬연결 생각), 
       단항 연산자(토글 연산자) :  not (참은 거짓으로 거짓은 참으로)
     
     a  b    a and b   a or b    not a
     ----------------------------------
     T  T       T        T         F
     T  F       F        T         F
     F  T       F        T         T
     F  F       F        F         T
     
   4) 대입(치환, 할당) 연산자
      =  +=(복합 연산자)  *=  %= ...
      
      
  ##### 연산자 우선순위 
  1 -> 2 -> 3 -> 4 (산비논대)
  
  --------------------------------------------------------------------------------------
  
   5) 포함 여부 연산자
     in     not in
     
   6) 비트 연산자
     &(둘다 1이어야 1)  |(하나만 1이면 1)  ^(xor, exclusive 연산자 : 데이터 암호화, 복호화 시 사용) (같으면 0, 다르면 1)  ~  <<  >>  ...
     
     a   b   a^b
     --------------
     T   T    F
     T   F    T
     F   T    T
     F   F    F

In [20]:
print(10/3) # 컴퓨터는 원래 실수 연산을 못함. 마지막 결과 5는 오차값, 따라서 몇자리까지 계산 할 것인지 정의를 해야 정확한 계산 가능하다
print(10%3)
print(10//3)
print(2**10)

print("------------------------------------------------------------------------")

print(100 > 200)
print(100 != 200)

print("------------------------------------------------------------------------")

a = 1
a = 2
a = 3
print(a)

b = 1
b += 2 # b= b + 2 저장 
b += 3 # b= b + 3 저장 
print(b)

3.3333333333333335
1
3
1024
------------------------------------------------------------------------
False
True
------------------------------------------------------------------------
3
6

In [34]:
print( 6 != 12 and 6 == 12)
print( 6 < 12 and 3 <= 12)
print( 6 != 12 or 6 == 12)

print( 6 != 12 & 6 == 12) # 비트 연산자와 논리연산자 같은 의미로 사용됨.


print( 6 & 12)
print( 6 | 12)
print( 6 ^ 12)

False
True
True
False
4
14
10

In [37]:
password = 648723 
key = 34897645

encode = password ^ key
print(encode)

decode =encode ^ key
print(decode)

35494142
648723

# 연습문제

1. 두개의 double변수를 이용해서 각각 갤런과 리터값을 저장하고 갤런값을 해당하는 리터값으로 바꿔보자.(1갤런은 3.7584리터이다)

2. 달의 중력은 지구 중력의 17% 정도이다. 달에서의 당신의 체중을 계산하는 프로그램을 작성하라.

3. 번개가 얼마나 먼 곳에서 발생했나?
(번개 소리를 들은 사람이 번개가 치는 곳에서부터 몇 피트 정도 떨어져 있는가를 계산하라. 소리는 공기 중을 약 1,100 피트/초의 속도로 진행한다. - 번개를 본 시각과 천둥소리를 들은 시각 사이의 시간을 알면 거리를 계산할 수 있다. 여기서는 7.2초로 가정하자)

4. 동전 교환 프로그램
==================
교환할 돈은 얼마입니까? 2763 (엔터키)

결과:
오백원짜리 ===> 5개
백원짜리 ===> 2개
오십원짜리 ===> 1개
십원짜리 ===> 1개
나머지 바꾸지 못한 잔돈 ===> 3원

## 입력 기능

In [ ]:
num1 = int(input("첫번째 숫자?"))
num2 = int(input("두번째 숫자?"))

print("두 수의 합 : ", num1 + num2)

In [5]:
a = [1,1,2,3,4,4,5,5,6,7]
aSet=set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5, 6, 7]