## 1. 파이썬과 MySQL 활용

### 모듈
    
            1) mysqlclient, PyMySQL
            2) pip install mysqlclient, pip install PyMySQL

### mysqlclient 모듈 사용

In [ ]:
import MySQLdb

In [ ]:
# mysql 서버에 접속
conn=MySQLdb.connect(host="127.0.0.1", user="root", password="1111",database="testdb")
print(conn)
conn.close()

In [ ]:
config={"host":"127.0.0.1", "user":"root", "password":"1111","database":"testdb"}


conn=MySQLdb.connect(**config)
print(conn)
conn.close()

In [ ]:
# SELECT

conn = MySQLdb.connect(**config)

sql = "SELECT empno, ename, sal, job, deptno FROM emp"
cur = conn.cursor()
cur.execute(sql)
#print(cur)

#print(type(cur))

#for data in cur :
    #print(data)      #튜플로 묶어서 저장하고 있다. 이후 디비필요 없음. 가져온 데이터로 파이썬 작업 하면됨.
 #   print("%d, %s, %d, %s, %d"%data)
  
for empno, ename, sal, job, deptno in cur:
    print(empno, ename, sal, job, deptno)
    
conn.close()

In [ ]:
# INSERT
conn = MySQLdb.connect(**config)
cur = conn.cursor()

sql="""INSERT INTO emp(empno, ename, sal, job, mgr, deptno, hiredate) VALUES(1, 'tom', 700, 'clerk',7788,20,now())"""

cur.execute(sql)
conn.commit()

conn.close()

In [ ]:
conn = MySQLdb.connect(**config)
cur = conn.cursor()

v_empno = 5
v_ename ='Johnson'
v_sal = 1500

sql = "INSERT INTO emp(empno, ename, sal,hiredate) VALUES(" + str(v_empno) + ",'" + v_ename  + "',"+ str(v_sal)+", now())"
print(sql)

cur.execute(sql)
conn.commit()

conn.close()

In [ ]:
conn = MySQLdb.connect(**config)
cur = conn.cursor()

v_empno = 10
v_ename ='Jane'
v_sal = 2000

sql = "INSERT INTO emp(empno, ename, sal,hiredate) VALUES(%s, %s, %s, now())"
sql_data =(str(v_empno),v_ename,str(v_sal))


cur.execute(sql, sql_data)
conn.commit()

conn.close()

In [ ]:
# DELETE
conn = MySQLdb.connect(**config)
cur = conn.cursor()
sql = "DELETE FROM emp WHERE empno BETWEEN 1 AND 10"

cur.execute(sql)
conn.commit()

conn.close()

## PyMySQL 모듈 사용

In [ ]:
import pymysql

In [ ]:
conn=pymysql.connect(host="127.0.0.1", user="root", password="1111",database="testdb")
print(conn)

In [ ]:
conn = pymysql.connect(host='127.0.0.1', user = 'root', password = '1111', 
                       database = 'testdb', port = 3306, charset = 'utf8')

print(conn)
conn.close()

In [ ]:
config = {'host' : '127.0.0.1', 'user' : 'root', 'password' : '1111', 
          'database' : 'testdb', 'port' : 3306, 'charset' : 'utf8'}

conn = pymysql.connect(**config)
print(conn)
conn.close()

In [ ]:
conn = pymysql.connect(**config)
cur = conn.cursor()

sql = """
CREATE TABLE IF NOT EXISTS pythonTable(
id int unsigned not null auto_increment,
name varchar(20) not null,
regdate datetime,
primary key(id)
);
"""
cur.execute(sql)
cur.execute("show tables")

for i in cur :
    print (i)

conn.commit()
conn.close()

In [ ]:
conn = pymysql.connect(**config)
try:
    cur = conn.cursor()

    sql = """
    CREATE TABLE IF NOT EXISTS pythonTable(
    id int unsigned not null auto_increment,
    name varchar(20) not null,
    regdate datetime,
    primary key(id)
    );
    """
    cur.execute(sql)
    conn.commit()
    
    
    
finally :
    conn.close()

In [ ]:
conn = pymysql.connect(**config)
try:
    cur = conn.cursor()

    sql = "INSERT INTO pythontable(name,regdate) VALUES('tom',now());"
    
    for num in range(10):
        cur.execute(sql)
    
    
    conn.commit()
    
    
    
finally :
    conn.close()

In [ ]:
#csv 파일을 DB에 저장하기

"""
CREATE TABLE IF NOT EXISTS suppliers(
    Supplier_Name    varchar(20),
    Invoice_Number   varchar(20),
    Part_Number      varchar(20),
    Cost             float,
    Purchase_Date    date
);
"""

import csv
from datetime import datetime

conn = pymysql.connect(**config)
try:
    cur=conn.cursor()
    
    sql="delete from suppliers"
    cur.execute(sql)
    conn.commit()
    
    file= csv.reader(open("data/input.csv"))
    #print(file)
    header = next(file)
    
    for row in file:
           cur.execute("INSERT INTO suppliers VALUES(%s,%s,%s,%s,%s)", row)     

    
    
   # for row in file:
   #     data = []
   #     for col in range(len(header)):
   #         if col==4:
   #             tmp = datetime.strptime(row[col], "%Y-%m-%d")
   #             data.append(tmp)
   #         else:
   #             data.append(row[col])
                
   #     cur.execute("INSERT INTO suppliers VALUES(%s,%s,%s,%s,%s)", data)
        
    conn.commit()
    
finally:
    conn.close()

In [ ]:
#DB에서 가져온 데이터를 CSV 형식 파일로 저장

conn = pymysql.connect(**config)
try:
    cur=conn.cursor()
    
    cur.execute("SELECT * FROM suppliers WHERE cost>500000")
    
    #for i in cur : print(i)
    
    file = csv.writer(open("data/output.csv","w"), delimiter=",")
    
    header = ["Supplier Name", "Invoice Name", "Part Number", "Cost" , "Purchase Date"]
    file.writerow(header)
    
    
    for row in cur : 
        file.writerow(row)
    
finally:
   
    conn.close()

# 2. 파이썬과 SQLite

       1. 로컬 DB로 사용할 수 있는 제품들
              - Access
              - SQLite
              - Microsoft SQL Server Compact Edition
              - Firebird Emdeded Server
              - H2
              - HSQL
              - Apache Derby
              ...
              
       2. 특징
           1) 파일기반의 DBMS, 저메모리, 빠른 처리속도
           2) 오픈소스 
           3) 별도의 DB서버가 없어도 쉽고 편리하게 사용할 수 있는 Embeded SQL DB엔진
           4) 안드로이드, 아이폰 등의 스마트폰에 기본 내장된 DB
           5) 표준 SQL. 지원
           6) 파이썬에 내장
           -------------------------------------
           7) 컬럼을 삭제하거나 변경하는 것 등이 제한
           8) Left Outer Join만 지원( INNER는 기본 
           9) 읽기전용 뷰만 제공
           
       3. 공식사이트
           http://sqlite.org
           
       4. 클라이언트 툴
           - http://www.sqliteexpert.com

In [ ]:
# sqliteexpert 를 이용해서 db생성 : mysqlite.db

"""
CREATE TABLE tblmember(
    id int,
    name varchar(10),
    regdate datetime);
"""
"""
INSERT INTO tblmember VALUES(1,'홍길동','2020-5-5');
INSERT INTO tblmember VALUES(2,'임꺽정',date('now'));    
"""

In [ ]:
import sqlite3

print(sqlite3.version)

In [ ]:
sqlite3.connect("data/mysqlite.db")
print(conn)
cur = conn.cursor()
print(cur)
conn.close()

In [ ]:
#SELECT


conn =sqlite3.connect("data/mysqlite.db")


cur = conn.cursor()



cur.execute("SELECT * FROM tblmember")


for row in cur:
    print(row)
conn.close()

In [ ]:
# INSERT

conn =sqlite3.connect("data/mysqlite.db")
cur = conn.cursor()



cur.execute("INSERT INTO tblmember VALUES(3,'홍경래',date('now'))")

conn.commit()
conn.close()

In [ ]:
#CVS 파일을 읽어서 DB에 저장

import csv

file = csv.reader(open('data/input.csv','r'),delimiter=',')
header = next(file)

conn = sqlite3.connect('data/mysqlite.db')
cur = conn.cursor()

for row in file :
    cur.execute("INSERT INTO suppliers VALUES(?,?,?,?,?)", row)
    
conn.commit()
conn.close()

In [ ]:
"""
1) mysql의 emp테이블을 emp.csv로 저장

2) emp테이블을 이용해서 아래와 같은 프로그램
예시)
        1. mysql
        2. sqlite
        연결할 db의 종류 :
        
        연결할 주소와 계정을 입력: (mysql일 경우)
        주소 : xxx.xxx.xxx.xxx
        아이디 : xxx
        패스워드 : xxx
        
        메뉴 선택
        1. 조회
        2. 입력
        3. 수정
        4. 삭제
        메뉴 : 
    
"""

In [ ]:
#메모리 DB   : 파일에 저장하는 것보다 속도가 빠름. 그러나 휘발함.

conn = sqlite3.connect(":memory:")
cur = conn.cursor()
print(cur)

cur.execute("CREATE TABLE phonebook(name text, phonenum varchar(20));")
cur.execute("INSERT INTO phonebook VALUES(?,?);",("Tom","010-111-1111"))

In [ ]:
cur.execute("select * from phonebook")
for i in cur:
    print(i)

In [ ]:
#입력 데이터 인자를 변수명 처리

sql = "INSERT INTO phonebook VALUES(:vName, :vPhone)"
cur.execute(sql, {"vPhone" : "010-222-2222","vName":"Johnson"})

In [ ]:
#여러 개의 데이터를 한번에 처리 executemany
datalist= (('jane','010-3333-3333'), ('paul','010-4444-4444'),('chris','010-5555-5555'))

cur.executemany("INSERT INTO phonebook VALUES(?,?);",datalist)

In [ ]:
#작업한 내용을 스크립트로 저장
f = open("data/dump.sql","w")

for line in conn.iterdump() : 
   # print(line)
    f.write("{}\n".format(line))
    
f.close()
conn.close()

In [ ]:

conn = sqlite3.connect(":memory:")
cur = conn.cursor()


#스크립트 불러오기

f = open("data/dump.sql")
script = f.read()


cur.executescript(script)

cur.execute("select * from phonebook")
for i in cur.fetchmany(3):
    print(i)
    
    
f.close()
conn.close()

# 3. MongoDB와 연동

        pip install pymongo

In [23]:
#import pymongo

from pymongo import MongoClient

In [24]:
#conn = pymongo.MongoClient("127.0.0.1", 27017)

conn = MongoClient("mongodb://127.0.0.1:27017")
print(conn)
conn.close()

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [25]:
#DB연결
conn = MongoClient("mongodb://127.0.0.1:27017")

db = conn.test
print(db)

conn.close()

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [26]:
# Collection과 연결
conn = MongoClient('mongodb://127.0.0.1:27017')
db = conn['test']
#coll = db.articles
#coll = db['articles']
coll = db.get_collection('articles')
print(coll)


conn.close()

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'articles')

In [27]:
# 데이터 한 개 입력

        
conn = MongoClient("mongodb://127.0.0.1:27017")

db = conn["test"]
coll = db.people

print(coll.count())

data = {"author" : "Mike", "text" : "My first blog post!", "tag":["mongodb", "python"]}
coll.insert_one(data)

conn.close()

5

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  if __name__ == '__main__':

In [28]:
# 데이터 한 개 입력

        
conn = MongoClient("mongodb://127.0.0.1:27017")

db = conn["test"]
coll = db.people

print(coll.count())

data = {"author" : "Mike", "text" : "My second blog post!", "tag":["mongodb", "python"]}
coll.insert_one(data).inserted_id

conn.close()

6

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  if __name__ == '__main__':

In [13]:
# 데이터 여러 개 입력
conn = MongoClient("mongodb://127.0.0.1:27017")
db = conn["test"]
coll = db.people

print(coll.count())

# coll.insert_many( [ {"number" : i } for i in range(10) ] )

data = []
for i in range(10):
    temp = {"number" : i}
    data.append(temp)

coll.insert_many(data)

print(coll.count())

conn.close()

7
17

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:17: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

In [34]:
#조회
conn = MongoClient("mongodb://127.0.0.1:27017")
db = conn["test"]
coll = db.people

#전체조회
#for i in coll.find():
#    print(i)



#조건주기, AGE가 20살인 DOCUMENT 조회
#for i in coll.find({"age":20}):
#    print(i)
    
    
#조건주기, AGE가 20살 이상인 DOCUMENT 조회
#for i in coll.find({"age":{"$gte":20}}):
 #   print(i)

print(coll.find_one({"author":"Mike"}) )
    
conn.close()

{'_id': ObjectId('5ed0c00ac634c498178f95bc'), 'author': 'Mike', 'text': 'My first blog post!', 'tag': ['mongodb', 'python']}

In [35]:
#데이터 수정
conn = MongoClient("mongodb://127.0.0.1:27017")
db = conn["test"]
coll = db.people


coll.update_one({"author":"Mike"},{"$set":{"text":"my third blog post!"}})

print(coll.find_one({"author":"Mike"}) )

conn.close()

{'_id': ObjectId('5ed0c00ac634c498178f95bc'), 'author': 'Mike', 'text': 'my third blog post!', 'tag': ['mongodb', 'python']}